<%= bootstrap_form_for(bottle, label_errors: true) do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :producer %>
  <%= f.select :spirit, %w(Bourbon Rye Scotch Rum Gin Other) %>
  <%= f.number_field :volume %>

  <div class="row">
    <div class="col-md-6">
      <%= f.number_field :proof %>
    </div>
    <div class="col-md-6">
      <%= f.number_field :abv, label: "ABV" %>
    </div>
  </div>

  <%= f.select :release_year, (1870..Time.now.year).to_a.reverse %>

  <%= f.number_field :price %>
  <%= f.text_field :source %>
  <%= f.text_field :acquired_on, value: Date.today, class: "datepicker" %>
  <%= f.text_field :location %>
  <%= f.text_area :notes %>

  <% unless bottle.persisted? %>
    <%= f.number_field :quantity %>
  <% end %>

  <%= f.check_box :in_stock%>
  <%= f.check_box :open %>

  <%= f.text_field :finished_on, class: "datepicker" %>

  <%= f.primary %>
<% end %>
