<% page_title = "#{@filter.present? ? @filter.capitalize : "Current" } Bottles" %>

<div class="page-header">
  <%= link_to "Add Bottle", new_bottle_path, class: "btn btn-success pull-right" %>
  <h1><%= page_title %></h1>
</div>

<ul class="list-unstyled bottles-list">
  <% @bottles.each do |bottle| %>
    <li class="row bottle-list-item">
      <div class="col-md-7">
        <%= link_to bottle.name, bottle_path(bottle), class: "bottle-name" %>
      </div>
      <div class="col-md-5 bottle-details">
        <div class="row">
          <div class="col-xs-2">
            <%= bottle.release_year %>
          </div>
          <div class="col-xs-3">
            <%= bottle.spirit %>
          </div>
          <div class="col-xs-2">
            <%= bottle.proof %>&deg;
          </div>
          <div class="col-xs-2">
            <%= bottle.volume %>ml
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
