<%= content_for(:title, @bottle.name) %>

<div class="page-header">
  <%= link_to "Edit", edit_bottle_path(@bottle), class: "btn btn-primary pull-right hidden-xs" %>
  <%= link_to "Duplicate", duplicate_bottle_path(@bottle), class: "btn btn-default pull-right mr-small hidden-xs" %>
  <h1><%= @bottle.name %></h1>
</div>


<div class="visible-xs mb-medium">
  <%= link_to "Edit", edit_bottle_path(@bottle), class: "btn btn-primary" %>
  <%= link_to "Duplicate", duplicate_bottle_path(@bottle), class: "btn btn-default" %>
</div>

<div class="row bottle-data">
  <div class="col-sm-6">
    <table class="table">
      <tr>
        <td><strong>Spirit</strong></td>
        <td><%= @bottle.spirit%></td>
      </tr>
      <tr>
        <td><strong>Producer</strong></td>
        <td><%= @bottle.producer %></td>
      </tr>
      <tr>
        <td><strong>Release Year</strong></td>
        <td><%= @bottle.release_year %></td>
      </tr>
      <tr>
        <td><strong>Proof</strong></td>
        <td><%= @bottle.proof %></td>
      </tr>
      <tr>
        <td><strong>Volume</strong></td>
        <td><%= @bottle.volume %></td>
      </tr>
      <tr>
        <td><strong>Price</strong></td>
        <td><%= @bottle.price %></td>
      </tr>
    </table>
  </div>

  <div class="col-sm-6">
    <table class="table">
      <tr>
        <td><strong>Bottle Location</strong></td>
        <td><%= @bottle.location %></td>
      </tr>
      <tr>
        <td><strong>Source</strong></td>
        <td><%= @bottle.source%></td>
      </tr>
      <tr>
        <td><strong>Acquired On</strong></td>
        <td><%= @bottle.acquired_on %></td>
      </tr>
      <tr>
        <td><strong>Open</strong></td>
        <td><%= @bottle.open? ? "Yes" : "No" %></td>
      </tr>
      <tr>
        <td><strong>Finished On</strong></td>
        <td><%= @bottle.finished_on %></td>
      </tr>
      <tr>
        <td><strong>In Stock</strong></td>
        <td><%= @bottle.in_stock? ? "Yes" : "No" %></td>
      </tr>
    </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Notes</div>
  <div class="panel-body">
    <%= @bottle.notes %>
  </div>
</div>

<%= link_to "Delete", bottle_path(@bottle), method: :delete, class: "text-danger", data: { confirm: "Are you sure you want to delete this bottle?" } %>
